# Ignore folders
.storage
.cloud
.google.token
.vscode
esphome
node-red
themes
tts
blueprints
deps
vacuum
www

# Ignore files
ip_bans.yaml
secrets.yaml
known_devices.yaml
google_calendars.yaml
home-assistant.log
home-assistant_v2.db
token.txt
